
body{
    font-family: Arial, Helvetica, sans-serif;
    background: grey;
    color: white;
    text-align: center;
    padding-top: 100px;
}
/*widescreen*/
@media(max-width:500px){
body {
    font-size:20px;
            }
#widescreen h1{
    display: block;
   
}
}
 @media(min-width:501px){
body {
    font-size: 30px;
}
}
@media(min-width:786px){
    body {
        font-size: 40px;
    }
}
