.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.second{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: green;
    width: 90%;
    height: 300px;
}