body{
    font-family: Arial, Helvetica, sans-serif;
    background: grey;
    color: white;
    text-align: center;
    padding-top: 100px;
}
/*smartphones*/
@media(max-width:500px){
body {
    background: rgb(145, 145, 4);
    color: wheat;
            }
#Smartphone h1{
    display: block;
   
}